<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Emissions Dashboard</title>
  <style>
    canvas {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: #ccc;
    }
    .node rect {
      cursor: move;
      fill-opacity: .9;
      shape-rendering: crispEdges;
    }
    
    .node text {
      pointer-events: none;
      text-shadow: 0 1px 0 #fff;
    }
    
    .link {
      fill: none;
      stroke: #000;
      stroke-opacity: .2;
    }
    
    .link:hover {
      stroke-opacity: .5;
    }
    .line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}
    </style>
</head>
<body>
  <!-- <svg width="960" height="600"></svg> -->
  <div><canvas id="canvas" width="800" height="600"></canvas></div>
  <div class="chart-container"></div>
  <div class="sankey-container"></div>
  
</body>
</html>